*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	height: 100vh;
	background-color: rgb(139, 62, 85);
	font-family: "poppins", sans-serif;

}

a, button {
	font-family: "poppins", sans-serif;
}

.dropdown{
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: auto;

}

.projects , .products{
	position: relative;
}
.projects ul, .products ul{
	position: absolute;
	margin-top: 10px;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	list-style: none;
	border-radius: 5px;
	background-color: white;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: all 0.4s ease;





}
.projects a, .products a{
	color: black;
	text-decoration: none;

}

.dropdown button , .home{
	background: none;
	border: none;
	color: white;
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;

}
.dropdown button:hover, .home:hover{
	color: rgb(224, 224, 224);
}


.projects li, .products li{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;	
	align-items: center;

}
.projects li:hover, .products li:hover{
	background-color: rgb(218, 179, 191);
}

.projects button:focus + ul, .products button:focus + ul{
	opacity: 1;
	pointer-events: all;
	transform: translateY(0px);
}


.test1 {

  background-color: #D5B5C0;
  align-content: center;
  height: 150px;
  width: 400px;
  align-items: center;
  text-align: center;
  margin: 200px;
  margin-left: 500px;
  padding: 20px;
  border-radius: 10px ;
  border-color: #471A29;
  border-style: solid;


}